a {
    text-decoration: none;
}
.checkbox-select-all-options {
    width: 250px;
}
.category-select {
    width: 200px;
}
.d-flex {
    gap: 20px;
}
.sort.rotate {
    transform: rotate(90deg);
}
#imageContainer {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 10px;
}

#imageContainer img {
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
}
.fixed-carousel-column {
    width: 250px;
}
